/* Global styles from app.css */
@import url("https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans");

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #00a5c2;
  color: #f3f3f3;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Work Sans", sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #b9b9b9;
  padding: 0;
  margin: 0;
}

/* Main page styles */
.main {
  text-align: center;
  position: relative;
  height: 100vh;
  top: 0;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profileImgContainer {
  display: block;
  width: 100%;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  user-select: none;
}

.introContainerText {
  line-height: 1.3rem;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}

.fancyGradient {
  position: relative;
  display: inline-block;
  padding: 0.2rem;
}

.fancyGradient::before {
  content: "";
  position: absolute;
  padding: 0.2rem;
  top: 0.2rem;
  right: 0;
  left: 0;
  bottom: 0.2rem;
  background: linear-gradient(
    270deg,
    #27c200,
    #00a5c2,
    #000cff,
    #b200f0,
    #ff0000
  );
  background-size: 400% 400%;
  animation: gradient 7s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fancyName {
  position: relative;
}

.blurbContainer {
  background-color: #1f1f1f;
  border-radius: 10px;
  line-height: 1.3rem;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.6rem;
  margin: 2rem 2rem 1rem 2rem;
}

.blurbContainer > p {
  color: #f3f3f3;
  padding: 0.3rem 0;
}

.socialContainer {
  user-select: none;
}

.socialLink {
  display: inline-block;
  padding: 0 0.5rem;
  height: 100%;
}

.socialImg {
  width: 2.3rem;
  height: 2.3rem;
}

/* FancyLink styles */
.fancyLink {
  font-family: "Work Sans";
  display: inline-flex;
  line-height: 25px;
}

.fancyLinkText {
  position: relative;
  display: inline-block;
}

.fancyLinkText::before,
.fancyLinkText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: left center;
}

.fancyLinkText::before {
  background: linear-gradient(135deg, #27c200, #00a5c2);
}

.fancyLinkText::after {
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) 0.1s;
}

.fancyLink:hover .fancyLinkText::after,
.fancyLink:focus .fancyLinkText::after,
.fancyLink:active .fancyLinkText::after {
  transform: scaleX(1);
}

/* Breakpoints */
@media only screen and (min-width: 700px) {
  .blurbContainer {
    width: 500px;
    margin: 1.8rem auto;
  }
  .blurbContainer > p {
    padding: 0.5rem 0;
  }
}

@media only screen and (min-height: 900px) {
  .profileImgContainer {
    margin-bottom: 2rem;
  }
  .profileImg {
    width: 200px;
    height: 200px;
  }
  .introContainerText {
    font-size: 1.5em;
  }
  .blurbContainer {
    font-size: 18px;
    padding: 0.8rem;
  }
  .blurbContainer > p {
    padding-bottom: 0.8rem;
  }
}
